/* Estilo para o body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilo para o cabeçalho */
header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

/* Estilo para a imagem do cabeçalho */
header img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

/* Estilo para o título do cabeçalho */
header h1 {
  margin: 0;
}

/* Estilo para a lista de itens do cabeçalho */
header ul {
  list-style-type: none;
  padding: 0;
}

/* Estilo para os itens da lista do cabeçalho */
header li {
  display: inline;
  margin-right: 20px;
}

/* Estilo para os links dos itens da lista do cabeçalho */
header li a {
  text-decoration: none;
  color: #333;
}

/* Estilo para os links dos itens da lista do cabeçalho ao passar o mouse */
header li a:hover {
  color: #666;
}
